---
title: "Get Away from the Masses. Be a Better Man."
layout: splash
permalink: /ebook/
date: 2018-09-09
header:
  overlay_image: /images/nebbiabosco.jpg
  image_path: /images/underwatercave.jpg
  cta_label: "Buy the E-Book Now"
  cta_url: "https://gum.co/gbJJq"
  caption: ""
excerpt: "CUT THROUGH the bullshit of self-improvement. A condensed, no nonsense book to guide your journey towards strength, health and wellness. "
intro: 
  - excerpt: '**You can become whatever you want in your life.**  A political shark going up the corporate ladder, an online business master making passive income or a stoic lone wolf who does not fear adversities. **No matter what your goal is, you still need self-improvement**'
  - excerpt: 'However, today it is very difficult to **separate the noise from the signal.** The world of *self-improvement* is filled with so-called "gurus" and an **incredible amount of bad and harmful information**. Imagine if you could eliminate all the noise and get straight to **proven and actionable advices.**'
feature_row2:
  - image_path: /images/sentiero.jpg
    image_caption: ""
    alt: "placeholder image 2"
    title: "Why you should the opposite of the masses."
    excerpt: "If you follow the conventional path for health, work and life, you will probably end up at **60 years old in a cubicle, as pale and weak man with some chronic disease, watching the next iteration of Netflix and waiting the end of the day.** *Learn how society is rotting and how you should do differently.*  "
    url: "https://gum.co/gbJJq"
    btn_label: "Buy the E-Book Now"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /images/biblio.jpg
    image_caption: ""
    alt: "placeholder image 2"
    title: "Time is running out. You need to move."
    excerpt: "*You cannot postpone* what I call *beating the average*. **Life is a competition** and you need to start improving, **NOW**. To become whatever you want in your life, **you will need to be far better than the others competing.**"
    url: "https://gum.co/gbJJq"
    btn_label: "Buy the E-Book Now"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /images/bastoni.jpg
    image_caption: ""
    alt: "placeholder image 2"
    title: "Actionable advices. No BS."
    excerpt: "Nutrition, sexuality, money, instant gratification, health. **I gathered years of reading and experiments for YOU to cut through the noise.**"
    url: "https://gum.co/gbJJq"
    btn_label: "Buy the E-Book Now"
    btn_class: "btn--primary"
intro1: 
  - excerpt: 'However, **only today you have an incredible opportunity.** The mass is getting more and more stupid and the competition is lowering. *Technology, from digital to other modern amenities, is softening and numbing our minds*, **opening a universe of possibilities for those who demand more for themselves.** '


---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}

{% include feature_row id="intro1" type="center" %}